// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.action{
  display:block;
  margin-top: 10px;
}
table{
  border-collapse: separate;
  border-spacing: 5px;
}
.show-content{
  margin-left:33px;
}

.under-button{
  margin-top:30px;
}
.success{
  color: green;
}

.error-box{
  border:solid 2px red;
  width:470px;
  height: 135px;
  margin-bottom:15px;
  background-color: #dcdcdc;
}

.error-box h2{
  font-size: 12px;
  font-weight: bold;
  color:white;
  background-color: #cc0000;
  margin:0;
  padding:5px 5px 5px 15px;
}

.error-alert ul{
  margin:33px;
  width:350px;
  line-height: 18px

}